.form__input {
    width: 100%;
    max-width: 600px;
    min-height: 30px;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 5px;
}

@media (max-width: 767px) {
    .form__input {
        flex-basis: 100%;
    }
}

.form__button {
    padding: 10px;
    border: none;
    margin-left: 10px;
    background-color: teal;
    color: #fff;
    transition: 0.5s;
}

@media (max-width: 767px) {
    .form__button {
        flex-basis: 100%;
        justify-content: center;
        margin-left: 0px;
        margin-top: 8px;
    }
}

.form__button:hover {
    background-color: rgb(9, 151, 151);
    transform:scale(115%)
}