.main__taskList{
    padding: 20px;
    font-size: 15px;
} 

.main__listItem--done {
text-decoration: line-through;
}

.tasks {
padding: 0px;
list-style-type: none;
}

.main__listItem {
list-style-type: none;
border-bottom: 2px solid rgba(218, 218, 218, 0.788);
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding-top: 8px;
padding-bottom: 6px;
}

.main__listItem--hidden{
display: none;
}

.main__taskListContent {
flex-grow: 1;
margin-left: 10px;
margin-right: 10px;
word-break: break-word;
}

.main__taskRemoveButton {
font-size: 14px;
min-height: 34px;
min-width: 34px;
border: none;
background: url(/public/trash.png);
background-color: rgb(206, 10, 49);
background-position: center;
background-repeat: no-repeat;
background-size: 60%;
transition: 0.5s;
}

.main__taskRemoveButton:hover {
background-color: rgb(252, 36, 80);
cursor: pointer;
}

.main__taskRemoveButton:active {
transform: scale(110%);
transition: 0.1s;
}

.main__taskDoneButton {
min-height: 34px;
min-width: 34px;
border: none;   
background-color: rgb(38, 109, 20);
transition: 0.5s;
color: #fff;
font-size: 19px;

}
.main__taskDoneButton--done {
min-height: 34px;
min-width: 34px;
border: none;   
background-color: rgb(38, 109, 20);
}

.main__taskDoneButton:hover {
background-color: rgb(58, 163, 32);
cursor: pointer;
}

.main__taskDoneButton:active {
transform: scale(110%);
transition: 0.1s;
}